<tr>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8"><%= assessment.judge.name %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= assessment.active? ? assessment.scores_sum : t(:not_finish)  %></td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6 lg:pr-8 flex flex-row justify-between items-center">
    <%= link_to t(:show_this_assessment), assessment_path(assessment),
                class: "text-indigo-600 hover:text-indigo-900",
                rel: :noopener,
                data: {
                  turbo_frame: '_top'
                } %>
  </td>
</tr>
