<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @criterium %>
    <%= link_to "Edit this criterium", edit_criterium_path(@criterium), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this criterium", criterium_path(@criterium), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to criteria", criteria_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
