<%= turbo_stream_from @submission %>
<ul class="flex flex-col space-y-4">
  <% @submission.scores.node_roots.each do |root| %>
    <li class="flex flex-col space-y-4">
      <h2 class="text-gray-900 font-bold"><%= root.title %></h2>
      <% root.children.each do |group| %>
        <%= render partial: 'node_groups', locals: {group: , submission: @submission} %>
      <% end %>
    </li>
  <% end %>
</ul>
