<span>
  <span class="button_to_change_notifying"
      data-controller="notifications" data-notifications-subscriptions-url-value="<%= person_push_subscriptions_path %>" data-notifications-attention-class="btn--pulsing">
    <%= turbo_frame_tag dom_id(@person), data: { controller: "turbo-frame" } do %>
      <button class="btn" data-action="click->notifications#attemptToSubscribe" data-notifications-target="bell">
        <%= image_tag "notification-bell-loading.svg", role: "presentation" %>
        <%= image_tag "notification-bell-alert.svg", role: "presentation", hidden: true %>
        <span class="for-screen-reader">Notification settings</span>
      </button>
    <% end %>
  </span>
</span>
