<div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
  <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
    <div class="ml-4 mt-4">
      <div class="flex items-center">
        <h3 class="text-base font-semibold leading-6 text-gray-900"><%= t('navigation.panel_submissions') %></h3>
      </div>
    </div>
  </div>
</div>
<%= turbo_frame_tag "submissions", src: panel_submissions_path, target: :_top %>
