<% @page_title = Post.model_name.human %>
<% content_for :page_header do %>
  <%= @page_title %>
<% end %>
<% content_for :quick_action do %>
  <%= link_to t(:create_post), new_cms_admin_post_path, class: "rounded-lg py-2 px-5 bg-indigo-500 text-white block font-medium" %>
<% end %>
<div class="w-full">
  <div id="cms_posts" class="min-w-full">
    <%= render partial: 'post', collection: @posts, spacer_template: 'shared/spacer' %>
  </div>
</div>
