<div class="mx-auto md:w-2/3 w-full">
  <% content_for :page_header do %>
    <%= t(:create_submission) %>
  <% end %>
  <%= render 'form', submission: @submission %>
  <%= link_to t(:back_to_submissions), submissions_path(@company), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
