<%= search_form_for q, url: companies_path do |f| %>
  <div class="sm:flex gap-x-4 mt-8">
    <div class="relative">
      <%= f.label :name_cont, class: "absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-900" %>
      <%= f.search_field :name_cont, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
    </div>
    <%= f.submit class: 'rounded-md bg-indigo-50 px-2.5 py-1.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100' %>
  </div>
<% end %>
