<% @page_title = t('.title') %>
<% content_for :page_header do %>
  <%= @page_title %>
<% end %>
<div class="w-full">
  <div id="companies" class="min-w-full">
    <%= render @companies %>
    <%= render 'empty_list' if @companies.blank? %>
  </div>
</div>
