<% @page_title = Post.model_name.human %>
<% content_for :page_header do %>
  <%= @page_title %>
<% end %>
<div class="w-full">
  <div id="cms_posts" class="min-w-full">
    <%= render partial: 'post', collection: @posts, spacer_template: 'shared/spacer' %>
  </div>
</div>
