<div class="flex flex-1 justify-center px-2 lg:ml-6 lg:justify-end">
  <div class="max-w-lg lg:max-w-xs">
    <div class="relative text-gray-400 focus-within:text-gray-600">
      <%= yield :quick_action %>
    </div>
  </div>
</div>
