<% @page_title = Product.model_name.human %>
<div class="mx-auto max-w-2xl lg:max-w-4xl">
  <div id="products" class="mt-16">
    <%= render partial: 'list_item_product', collection: @products, as: :product, spacer_template: 'shared/spacer' %>
  </div>
</div>
